<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>goldendomemarket</display-name>
	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>edu.miu.goldendomemarket.util.CORSFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<context-param>
		<param-name>url</param-name>
		<param-value>jdbc:mysql://localhost:3306/</param-value>
	</context-param>
	<context-param>
		<param-name>database</param-name>
		<param-value>goldendomemarket</param-value>
	</context-param>
	<context-param>
		<param-name>user_name</param-name>
		<param-value>anene</param-value>
	</context-param>
	<context-param>
		<param-name>password</param-name>
		<param-value>Anebek9;</param-value>
	</context-param>
	
	<context-param>
		<param-name>smtp_host</param-name>
		<param-value>smtp.gmail.com</param-value>
	</context-param>
	<context-param>
		<param-name>smtp_socketFactory_port</param-name>
		<param-value>465</param-value>
	</context-param>
	<context-param>
		<param-name>smtp_port</param-name>
		<param-value>465</param-value>
	</context-param>
	<context-param>
		<param-name>senderEmail</param-name>
		<param-value>boaissotemp@gmail.com</param-value>
	</context-param>
	<context-param>
		<param-name>senderEmailPassword</param-name>
		<param-value></param-value>
	</context-param>
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
